/*.log
*/*.log
*.log
*/logs/*

backend/downloads/*

/node_modules
*/node_modules
/dist
*/dist
/build
*/build

/.env
/.env.local
/.env.production
/.env.test
/.next
/out

.DS_Store
.vscode
.idea
*.tsbuildinfo